<h3 style="color:blue" align="center">Codebasics Python Course: Strings</h3>

### String introduction and index operator

In [4]:
first = "Mohan"
last = "Sharma"

In [5]:
type(first)

str

In [6]:
name = first + " " + last
name

'Mohan Sharma'

In [7]:
age = 28

In [8]:
info = f'{first} {last} is {age} years old'
info

'Mohan Sharma is 28 years old'

In [35]:
name[0]

'M'

In [36]:
name[1]

'o'

In [37]:
name[0:5]

'Mohan'

In [38]:
name[6:]

'Sharma'

In [39]:
name[-1]

'a'

In [40]:
name[-6:]

'Sharma'

In [41]:
name[11]

'a'

In [42]:
name[12]

IndexError: string index out of range

In [43]:
len(name)

12

### Strings are immutable

In [32]:
name

'Mohan Sharma'

In [33]:
name[0]='S'

TypeError: 'str' object does not support item assignment

### single vs double vs tripple quotes

In [10]:
food_story = "dhaval's favourite food is banana"
s = 'he said "oops"'

In [11]:
recipe = "Veg biryani with saffron, cardamom, and cloves, garnished with fried onions and cilantro."
recipe

'Veg biryani with saffron, cardamom, and cloves, garnished with fried onions and cilantro.'

In [12]:
recipe = '''
Veg biryani with saffron, cardamom, and cloves, garnished with fried onions and cilantro.
'''
recipe

'\nVeg biryani with saffron, cardamom, and cloves, garnished with fried onions and cilantro.\n'

In [13]:
print(recipe)

Veg biryani with saffron, cardamom, and cloves, garnished with fried onions and cilantro.

### in operator

In [14]:
# Check if 'cardamom' is mentioned in the dish description
spice = "cardamom"
spice in recipe

True

In [15]:
"milk" in recipe

False

### Some useful functions: replace, upper, lower, str, index, isdigit etc

In [18]:
s = "patient was charged 100$ for lab test"
s

'patient was charged 100$ for lab test'

In [19]:
s = s.replace("100$","50$")
s

'patient was charged 50$ for lab test'

In [20]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [21]:
s.upper()

'PATIENT WAS CHARGED 50$ FOR LAB TEST'

In [22]:
'410'.isdigit()

True

In [23]:
'410a'.isdigit()

False

In [24]:
s

'patient was charged 50$ for lab test'

In [25]:
s.index('was')

8

In [35]:
tickers="AAPL|NVDA|RIL|GOGL"
tickers.split("|")

['AAPL', 'NVDA', 'RIL', 'GOGL']

In [38]:
data = "  hey, we have to go there, you coming der ? "
data

'  hey, we have to go there, you coming der ? '

In [37]:
data.strip()

'hey, we have to go there, you coming der ?'

In [39]:
file_name="report.pdf"
file_name.endswith(".pdf")

True

In [26]:
age=38
text="my age is:"
text+age

TypeError: can only concatenate str (not "int") to str

In [27]:
age

38

In [28]:
str(age)

'38'

In [29]:
text+str(age)

'my age is:38'

### Python format strings: a.k.a f strings and special characters: \n \t

In [30]:
height = 65
weight = 75

patient_information = f"Height: {height} cm, Weight: {weight} kg"
patient_information

'Height: 65 cm, Weight: 75 kg'

In [68]:
s="hey\tbro"
print(s)

hey	bro