<h2 align="center" style="color:blue">Codebasics Python Course: Exercise - Variables, Numbers, Strings</h2>

### Task 1

Create a variable named pi and store the value 22/7 in it. Now check the data type of this variable.

In [1]:
# creating variable named pi
pi = 22/7

In [2]:
print(pi)

3.142857142857143

In [3]:
# checking the datatype
type(pi)

float

### Task 2

Create a variable called ```for``` and assign it a value 4. See what happens and find out the reason behind the behavior that you see.

In [8]:
# 2. creating for variable
for = 4

SyntaxError: invalid syntax (3292397425.py, line 2)

SyntaxError occured becuase for is a reserved keyword in python. We cannot use reserved keywords for making variable names.

### Task 3

Below we have defined the variables for storing the principal amount, rate of interest and time. You need to calculate the simple interest for 3 years. Once simple interest is calculated, calculate the total amount you will have at the end of the tenure

Tip üí°: Feel free to take help of ChatGPT or Google in the case you do not know the formula for simple interest.

In [30]:
principle_amount = 567.00
rate_of_interest = 5.6
time = 3

Now let's calculate the simple intrest using simple math formula:

`simple interest  = P x R x T / 100`

where: 
 
    P = principle amount
    R = rate of interest
    T = time

In [31]:
simple_interest = principle_amount * rate_of_interest * time / 100
simple_interest

95.25599999999999

In [32]:
# total amount after including interest
total_amount = principle_amount + simple_interest
print(total_amount)

662.256

### Task 4

There is a circular pond in a village. This pond has a radius of 84 meter. Can you find the area of the pond?

**Note:** For simplicity, use the value of pi as 3.14.

In [33]:
radius = 84

pond_area = 3.14 * radius ** 2 # circle area = pi*r^2
pond_area

22155.84

### Task 5

If there is a 2000 liter water in a square meter, what is the total amount of water in this pond?

In [34]:
per_sqt_meter_water = 2000
total_water = pond_area*per_sqt_meter_water
total_water

44311680.0

### Task 6

If you cross a 490-meter-long street in 7 minutes, then what is your speed in meter per seconds. Print your answer with only two decimal points

Hint:
        Speed = Distance / Time

In [35]:
distance = 490
time_in_seconds = 7 * 60 # 7 minutes is 7*60 seconds

speed = distance / time_in_seconds
speed

1.1666666666666667

In [19]:
round(speed, 2)

1.17

### Task 7

Create two variables to store how many fruits and vegetables you eat in a day. The value should be numeric for example 3 fruits and 4 vegetables. Now Print "I eat x vegetables and y fruits daily" where x and y presents vegetables and fruits that you eat every day. Use python f string for this.

In [36]:
n_fruits = 2
n_vegatables = 4

print(f"I eat {n_vegatables} vegetables and {n_fruits} fruits daily")

I eat 4 vegetables and 2 fruits daily

### Task 8

Create a variable and store the string ‚ÄúThe Himalayas are one of the youngest mountain range on the planet.‚Äù

1. Print ‚ÄòThe Himalayas‚Äô using slice operator
1. Print ‚Äúmountain range‚Äù using negative index
1. Print ‚ÄúThe Himalayas on the planet‚Äù using slice as well as f-string

In [37]:
string = "The Himalayas are one of the youngest mountain range on the planet."

#printing the himalayas
print(string[0:13])

# printing mountain range
print(string[-29:-15])

# printing The Himalayas on the planet
print(f"{string[0:13]} {string[-14:]}")

The Himalayas
mountain range
The Himalayas on the planet.

### Task 9

You have created a string variable called string= ‚ÄùThere are 9 planets in the solar system‚Äù. After some time, you have realized that your sentence is incorrect and there are only 8 planets, now correct your sentence by replacing the incorrect words.

In [38]:
string = "There are 9 planets in the solar system"

# replacing the 9 with 8
string = string.replace('9', '8')
print(string)

There are 8 planets in the solar system

### Task 10

Imagine you are a shop owner tracking sales of three products throughout the day. At the end of the day, you want to calculate the total sales from these products. Product quantity and prices are given below in the next code cell,

Task: Write a program that:

1. Calculates the total sales for each product.
1. Summarizes the total sales for the day.
1. Prints this summary in a formatted manner.

Expected Output:

```
Daily Sales Summary:
- Product 1: Sold 15 units at $20.0 each, Total: $300.0
- Product 2: Sold 10 units at $35.0 each, Total: $350.0
- Product 3: Sold 20 units at $12.0 each, Total: $240.0
Total Sales for the Day: $890.0
```

In [27]:
# Prices and quantities for each product
product1_price = 20.0  # Price per unit for product 1
product1_quantity = 15  # Quantity sold of product 1

product2_price = 35.0  # Price per unit for product 2
product2_quantity = 10  # Quantity sold of product 2

product3_price = 12.0  # Price per unit for product 3
product3_quantity = 20  # Quantity sold of product 3

In [29]:
# Calculating total sales for each product
total_sales_product1 = product1_price * product1_quantity
total_sales_product2 = product2_price * product2_quantity
total_sales_product3 = product3_price * product3_quantity

# Calculating total sales for the day
total_sales_day = total_sales_product1 + total_sales_product2 + total_sales_product3

# Printing the sales summary
print("Daily Sales Summary:")
print(f"- Product 1: Sold {product1_quantity} units at ${product1_price} each, Total: ${total_sales_product1}")
print(f"- Product 2: Sold {product2_quantity} units at ${product2_price} each, Total: ${total_sales_product2}")
print(f"- Product 3: Sold {product3_quantity} units at ${product3_price} each, Total: ${total_sales_product3}")
print(f"Total Sales for the Day: ${total_sales_day}")

Daily Sales Summary:
- Product 1: Sold 15 units at $20.0 each, Total: $300.0
- Product 2: Sold 10 units at $35.0 each, Total: $350.0
- Product 3: Sold 20 units at $12.0 each, Total: $240.0
Total Sales for the Day: $890.0