<h2 style="color:blue" align="center">Codebasics Python Tutorial: Set & Frozenset</h2>

Sets are unordered collections of items where duplicates are not allowed, making them ideal for situations where you need to ensure uniqueness or perform efficient membership tests.

In [1]:
myset = set([1,2,3,2,3,4])
myset

{1, 2, 3, 4}

As you can see above it removed the duplicates and it keeps only unique elements

In [2]:
myset[0]

TypeError: 'set' object is not subscriptable

As you can see above, there is no order to elements. It is an unordered collection of items

In [3]:
# Other way to initialise the set
myset = {1,2,3,4}

### in, add, remove

In [4]:
menu = set(["Dosa", "Idli", "Biryani"])
menu

{'Biryani', 'Dosa', 'Idli'}

In [5]:
'Dosa' in menu

True

In [6]:
'Burger' in menu

False

In [7]:
menu.add("Pizza")
menu

{'Biryani', 'Dosa', 'Idli', 'Pizza'}

In [8]:
menu.remove("Biryani")
menu

{'Dosa', 'Idli', 'Pizza'}

### Frozenset

Frozenset is immutable and will not allow update of elements

In [9]:
menu = frozenset(["Dosa", "Idli", "Biryani"])
menu

frozenset({'Biryani', 'Dosa', 'Idli'})

In [10]:
menu.add("pizza")

AttributeError: 'frozenset' object has no attribute 'add'

### Retrieve unique customers names from transactions records

In [11]:
transactions = [
    {'customer_name': "Mira", "amount": 56, "date": "2024-08-01"},
    {'customer_name': "Mira", "amount": 12.3, "date": "2024-09-05"},
    {'customer_name': "Mohan", "amount": 21, "date": "2024-09-03"},
    {'customer_name': "Mohan", "amount": 36.8, "date": "2024-09-10"},
    {'customer_name': "Lucy", "amount": 66.3, "date": "2024-09-10"}
]

In [12]:
customers = set()

for trans in transactions:
    customers.add(trans['customer_name'])
    
customers

{'Lucy', 'Mira', 'Mohan'}

In [13]:
customers_list = list(customers)
customers_list

['Mira', 'Lucy', 'Mohan']

### Intersection, Union, Substraction etc

In [14]:
a = {"Mira", "Mohan", "Lucy", "Ahmed"}
b = {"Chen", "Mohan", "Radha", "Maria"}

#### Find common students

In [15]:
common_students = a & b
common_students

{'Mohan'}

In [16]:
# same thing can be done using intersection function
a.intersection(b)

{'Mohan'}

#### Find all students

In [17]:
all_students = a | b
all_students

{'Ahmed', 'Chen', 'Lucy', 'Maria', 'Mira', 'Mohan', 'Radha'}

In [18]:
# same thing can be done using union function
a.union(b)

{'Ahmed', 'Chen', 'Lucy', 'Maria', 'Mira', 'Mohan', 'Radha'}

#### Find students who participated in class a but not in b

In [19]:
a - b

{'Ahmed', 'Lucy', 'Mira'}

Regular set allows to add or remove items