<h2 align="center" style="color:blue">Codebasics Python Course: Variables</h2>

### Variables Introduction: String, Numbers, Boolean

Variables are containers that store some type of data. For example soda can is a container that contains soda

In [37]:
can = "soda"
can

'soda'

In [38]:
print(can)

soda

In [39]:
can = "beans"
can

'beans'

In [3]:
type(can)

str

In [4]:
pizza = 100
pizza

100

In [7]:
type(pizza)

int

In [11]:
samosa=20.5
ice_cream=100

In [6]:
total = pizza + samosa + ice_cream
total

220.5

In [12]:
type(total)

float

In [14]:
above_thresold = total > 200
above_thresold

True

In [15]:
type(above_thresold)

bool

**Integer** is a whole number with no decimal point. e.g. 34, 12, 500

**Float** is a number with decimal point. e.g. 1.34, 0.45, 100.5

**String** data types store text information

**Boolean** type is used to store true or false value

### Everything is an Object in Python

In [17]:
foo = 'jalebi'
foo

'jalebi'

In [18]:
bar = foo
bar

'jalebi'

In [19]:
id(foo)

2356826482608

In [20]:
id(bar)

2356826482608

In [25]:
bar = 'samosa'
bar

'samosa'

In [26]:
id(bar)

2356826408048

In [22]:
foo

'jalebi'

### Variable Naming Rules

#### 1. Can't use reserved keywords to store variable names

In [27]:
True=5

SyntaxError: cannot assign to True (3091963775.py, line 1)

In [28]:
def = "Hello"

SyntaxError: invalid syntax (1533978222.py, line 1)

#### 2. Special characters are not allowed

In [29]:
$name="dhaval"

SyntaxError: invalid syntax (1667250009.py, line 1)

In [31]:
pizza^ = 100

SyntaxError: invalid syntax (2224969571.py, line 1)

#### 3. Variable names must begin with letter or _

In [32]:
4you="me"

SyntaxError: invalid decimal literal (1975557746.py, line 1)

In [33]:
$address="blah"

SyntaxError: invalid syntax (2488452656.py, line 1)

#### 4. Remaining characters should be a to z OR A to Z OR 0 to 9 OR _

In [34]:
abc$xyz=6

SyntaxError: invalid syntax (3943422283.py, line 1)

💡 **Tip: Use Mr. C (i.e. ChatGPT) for help**